html, body {
    margin: 0;
    padding: 0;
    height: 350px; /* Lock the popup height */
    overflow: hidden; /* Prevent outer scroll */
}

form{
    margin: 0;
}

.mainContent{
    display: flex;
    flex-direction: row;
}

#wrapper{
    padding: 1rem;
    max-height: 400px;
    max-width: 400px;
}

.websiteDiv{
    padding: 1rem;
    max-height: 100px;
    overflow-y: scroll;
}

.msgBox{
    margin-right: 30px;
}

.msg{
    background-color: white;
}

.websiteDiv{
    overflow: auto;
}

.website{
    text-decoration: underline;
}

.title{
    color: #008000;
}